
.container-a{
    display: grid;
    align-items: center;


    .header{
        align-items: center;
        display: flex;

        border-radius: 24px;
        background: var(--Text-White, #FFF);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
        padding: 30px 30px;
    }

    .body{

        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;

        margin-top: 30px;
        border-radius: 24px;
        background: var(--Text-White, #FFF);
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
        padding: 30px 30px;

        .question-link{
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            padding: 12px 30px;
            border-radius: 24px;
            border: 1px solid var(--Separator-Gray, #F3F3F3);
            margin-top: 20px;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
        }
        .question-link:hover{
            background-color: #1f2937c9;
            color: #F3F3F3;
            cursor: pointer;
        }

    }
}
.question-img{
    width: 90px; 
    height: 90px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.img-question{
    width: 100%;
    height: 100%;
}
.text-question{
    text-align: center;
    padding: 20px;
}

.line-header{
    border-left:  5px solid var(--Separator-Gray, #1f2937);
    height: 30px;
    margin-right: 8px;
    border-radius: 3px;

}

